h1 {
    background-color: lightpink;
    height: 300px;
    width: 300px;
    text-align: center;
    border: solid 10px pink;
    margin: auto;

    outline: dashed 2px rebeccapurple;
}

a {
    border: solid 10px pink;

}